@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* tailwindで特殊なフォントのインポートができないため */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
